#menu-bar {
  height: 35px;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: row;
}

.menu-button {
  width: 69px;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button:hover {
  background-color: lightgray;
  cursor: pointer;
}