#menu-bar {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  place-content: space-between;
  font-size: 1.1em;
  padding: .2em;
  height: 40px;
}

.menu-button {
  height: 100%;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
}

#logo-text {
  margin-left: 1em;
}

.quiet-link:link,
.quiet-link:visited,
.quiet-link:hover,
.quiet-link:active { 
  text-decoration: none; 
}

#daburger {
  display: inline;
  color: white;
  font-size: 2em;
  margin-right: .4em;
}

#daburger:hover {
  cursor: pointer;
}

#menu-section {
  display: none;
}

#mobile-menu {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #444;
  height: 100vh;
  padding: 1em;
}

#mobile-menu a div {
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
    height: auto;
}

#exit-mobile-menu {
  font-weight: bold;
  color: white;
  font-size: 2em;
  margin-top: .2em;
  margin-left: .2em;
}

#exit-mobile-menu:hover {
  cursor: pointer;
}

@media only screen and (min-width: 450px) {
  #menu-section {
    display: inline;
  }

  #mobile-menu {
    display: none;
  }

  #daburger {
    display: none;
  }
}