.service-tile {
  margin: 2em 1em;
  border-radius: 1em;
  border: 1px solid #707070;
  padding: 1.5em;
  background: white;
}

.align-left {
  text-align: left;
}

.back-button {
  font-weight: bold;
  font-size: 1.5em;
  margin: 1em;
}

.back-button span {
  font-size: 2em;
}

.back-button:hover {
  cursor: pointer;
}