.service-tile {
  margin: 1em auto;
  padding: 1.5em;
  background: white;
  width: 80%;
}

.align-left {
  text-align: left;
}

.back-button {
  font-weight: bold;
  font-size: 1.5em;
}

.back-button span {
  font-size: 2em;
}

.back-button:hover {
  cursor: pointer;
}

#back-caret {
  font-size: .5em;
}

#website-button {
  padding: .75em;
  background-color: blue;
  border-radius: .5em;
  color: white;
  display: inline-block;
  margin: .5em 2em .5em 0em;
}

@media only screen and (min-width: 1000px) {
  .service-tile {
    margin: 2em auto;
    width: 50%;
  }
}