.service-tile {
  margin: 2em auto;
  padding: 1.5em;
  background: white;
  width: 60%;
}

.align-left {
  text-align: left;
}

.back-button {
  font-weight: bold;
  font-size: 1.5em;
}

.back-button span {
  font-size: 2em;
}

.back-button:hover {
  cursor: pointer;
}

#back-caret {
  font-size: .5em;
}