#search-complex-container {
  border-bottom: 1px solid #707070;
}

#search-complex-container p {
  font-size: 1.2em;
  margin: 0px !important;
}

#filter-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.3em;
}

.filter-list-container-item {
  margin: 0em;
}

#search-container {
  padding: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-item {
  margin: 0 0em;
}

#search-container-title {
  font-size: 2em;
  font-weight: bold;
}

#search-container input {
  font-size: 1em;
  border-radius: .5em;
  border: 1px solid #707070;
  padding: .2em .75em;
  margin-left: .5em;
}

#search-container input:focus {
  outline: none;
}

#search-container select {
  font-size: 1em;
  background-color: white;
  border-radius: .5em;
  padding: 0em 1em;
  border: 1px solid #707070;
}

#filter-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#clear-search-button {
  padding: .2em .5em;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 1em;
  margin-left: .5em;
}

#clear-search-button:hover {
  cursor: pointer;
}