#main-display {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

#hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}

.hero-logo {
  margin: 1em auto;
}

#display-text {
	font-size: 3em;
	font-weight: bold;
  color: black;
  width: 90vw;
  margin: .5em !important;
  text-align: center;
}

#secondary-text,
#tertiary-text {
  font-size: 1.5em;
  color: black;
  width: 90vw;
  text-align: center;
  margin: 0.5em auto;
  margin-top: 0.5em;
}

#tertiary-text {
  font-size: 1.2em;
}

#resource-button {
	background: blue;
  border: 2px solid white;
	color: white;
	text-decoration: none;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	width: 250px;
	font-size: 1.4em;
	border-radius: 5em;
	font-weight: bold;
	margin: 0.5em auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#resource-button:hover {
  cursor: pointer;
}


@media only screen and (min-width: 620px) {

  #secondary-text {
    font-size: 1.5em;
    width: 600px;
  }

  #tertiary-text {
    font-size: 1em;
    width: 600px;
  }

  .hero-logo {
    margin: 3em auto;
  }
}

@media only screen and (min-width: 820px) {
  #display-text {
    font-size: 3em;
    width: 800px;
  }
}