.service-item-container {
  padding: .5em;
  border: 1px solid black;
  border-radius: .3em;
  height: 4em;
}

.service-item-container:hover {
  box-shadow: 0 0 .5em #ccc;
}

.zero-tb-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.service-list-tile {
  width: 95%;
  margin: .5em auto;
}

@media only screen and (min-width: 1200px) {
  .service-list-tile {
    width: 500px;
  }
}