.filter-tile {
  border: 1px solid #707070;
  border-radius: 1em;
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: .2em .5em;
  margin-left: .5em;
  margin-right: .5em;
}

.filter-tile .close {
  font-weight: bold;
  margin-left: 1em;
  cursor: pointer;
}
