.resource-list-item {
  height: 80px;
  border: none;
  background-color: white;
  border-radius: 2em;
  margin: 1em;
  border: 1px solid #bbb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item-name {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.resource-list-item:hover {

  box-shadow: 3px 3px rgba(0, 0, 0, .06);
  background-blend-mode: color-burn;
}

a:link { 
  text-decoration: none; 
}

a:visited { 
  text-decoration: none; 
}

a:hover { 
  text-decoration: none; 
}

a:active { 
  text-decoration: none; 
}