.resource-list-item {
  height: 80px;
  background-color: white;
  border-radius: 2em;
  margin: 1em;
  border: 1px solid #bbb;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item-name {
  font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  margin: auto 0em auto 3em;
}

.item-description {
  font-size: 1em;
  text-align: left;
  margin: auto 0em auto 3em;
}

.resource-list-item:hover {
  box-shadow: 3px 3px rgba(0, 0, 0, .06);
}

a {
  text-decoration: none;
  color: black;
}