.filter-container-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid blue;
  border-radius: .5em;
  padding: .3em 1em;
  margin-left: 1em;
  margin-right: 1em;
  color: blue;
  font-weight: bold;
}

.container-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-name {
  font-size: 1em !important;
  font-weight: normal !important;
}

.caret-icon {
  margin: auto .5em;
  font-size: 1em !important;
  font-weight: normal !important;
}

.filter-container-box:hover {
  cursor: pointer;
}

#filter-items {
  background-color: white;
  border: 1px solid #707070;
  position: absolute;
  top: 91px;
  padding: .5em;
  max-height: 20em;
  overflow-y: scroll;
  border-radius: 5px;
}

#filter-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0.3em;
}
#filter-items li {
  padding: 0.1em 0.3em;
  border-radius: 2px;
}

#filter-items li:hover {
  background-color: #D8D8D8;
  cursor: pointer;
}